body {
    background: url(../images/crew/background-crew-desktop.jpg) no-repeat;
    background-size: cover;
}

main {
    min-height: 100vh;
    max-height: 100rem;
    max-width: 200rem;
    padding-top: 4rem;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "menu menu"
                         "infos image";
    grid-template-rows: 10rem;
}

.text-area {
    grid-area: infos;
    max-width: 60vw;
    padding: 7.4rem 0 9.5rem 20rem;
    display: flex;
    align-items: flex-start;
}

.text-area .text-area-container {
    width: 62rem;
}

.text-area .text-area-container .page-prelude-title {
    margin-bottom: 15.4rem;
    color: #ffffff;
    font-size: 2.8rem;
    letter-spacing: 0.472rem;
}

.text-area .text-area-container .page-prelude-title span {
    margin-right: 2.4rem;
    color: #ffffff41;
    font-weight: bold;
}

.text-area .text-area-container .crew-infos li .crew-patent{
    margin-bottom: 1.5rem;
    color: #ffffff41;
    font-family: 'Bellefair', serif;
    font-size: 3.2rem;
}

.text-area .text-area-container .crew-infos li .crew-name {
    margin-bottom: 3rem;
    color: #ffffff;
    font-family: 'Bellefair', serif;
    font-size: 5.6rem;
}

.text-area .text-area-container .crew-infos li .crew-description {
    margin-bottom: 12rem;
    text-align: justify;
    color: #D0D6F9;
    line-height: 3.2rem;
    font-family: 'Barlow', sans-serif;
    font-size: 1.8rem;
}

.text-area .crew-infos li {
    display: none;
}

.text-area .crew-infos .commander-infos {
    display: block;
}

.text-area .navigation-dots {
    display: flex;
    gap: 2.4rem;
}

.text-area .navigation-dots div {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #9797977e;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.text-area .navigation-dots div:hover {
    background-color: #979797;
}

.text-area .navigation-dots div.active-button {
    background-color: #ffffff;
}

.crew-image-area {
    grid-area: image;
    max-height: 100rem;
    display: flex;
    align-items: flex-end;
}

.crew-image-area img {
    max-width: 35vw;
    display: none;
}

.crew-image-area .commander-img {
    display: block;
}

@media screen and (max-width: 1150px) {
    .text-area {
        padding: 7.4rem 10rem 9.5rem 10rem;
    }

    .text-area .text-area-container .page-prelude-title {
        margin-bottom: 6rem;
        font-size: 2rem;
        letter-spacing: 0.338rem;
    }

    .text-area .text-area-container .crew-infos li .crew-patent{
        font-size: 2.4rem;
    }

    .text-area .text-area-container .crew-infos li .crew-name {
        font-size: 4rem;
    }

    .text-area .text-area-container .crew-infos li .crew-description {
        line-height: 2.8rem;
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 800px){
    main {
        padding-top: 0;
        display: flex;
        flex-direction: column;
    }

    header {
        margin-bottom: 0;
    }

    .text-area {
        max-width: 100vw;
        padding: 0;
        align-self: center;
        text-align: center;
    }
    
    .text-area .text-area-container {
        width: 98vw;
    }
    
    .text-area .text-area-container .page-prelude-title {
        margin: 4rem 0 6rem 4rem;
        text-align: start;
    }
    
    .text-area .text-area-container .page-prelude-title span {
        margin-right: 1.6rem;
    }

    .text-area .text-area-container .crew-infos {
        display: flex;
        justify-content: center;
    }

    .text-area .text-area-container .crew-infos li .crew-patent{
        margin-bottom: 0.8rem;
    }

    .text-area .text-area-container .crew-infos li .crew-name {
        margin-bottom: 1.6rem;
    }

    .text-area .text-area-container .crew-infos li .crew-description {
        width: 46rem;
        margin-bottom: 4rem;
        text-align: center;
    }

    .text-area .navigation-dots {
        justify-content: center;
        gap: 1.6rem;
    }

    .text-area .navigation-dots div {
        width: 1rem;
        height: 1rem;
    }

    .crew-image-area {
        margin-top: 4rem;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-image: url(../images/crew/background-crew-mobile.jpg);
    }
    
    main {
        position: relative;
        padding-bottom: 10.4rem;
    }

    .text-area .text-area-container .page-prelude-title {
        margin: 0;
        text-align: center;
        font-size: 1.6rem;
        letter-spacing: 0.27rem;
        z-index: -1;
        position: absolute;
        top: 10rem;
        left: 30%;
    }

    .crew-image-area {
        order: 0;
        width: 90%;
        margin: 6rem 0 3.2rem 0;
        border-bottom: 0.1rem solid #383B4B;
        align-self: center;
    }

    .text-area {
        order: 1;
        width: 100%;
    }

    .text-area .text-area-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-area .navigation-dots {
        order: 0;
        margin-bottom: 3.2rem;
    }

    .text-area .text-area-container .crew-infos {
        order: 1;
    }

    .text-area .text-area-container .crew-infos li .crew-patent{
        font-size: 1.6rem;
    }

    .text-area .text-area-container .crew-infos li .crew-name {
        font-size: 2.4rem;
    }

    .text-area .text-area-container .crew-infos li .crew-description {
        width: 33rem;
        margin-bottom: 0;
        text-align: center;
        line-height: 2.5rem;
        font-size: 1.5rem;
    }
}