body {
    background: url(../images/destination/background-destination-desktop.jpg) no-repeat;
    background-size: cover;
}

main {
    min-height: 100vh;
    max-width: 200rem;
    padding-top: 4rem;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "menu menu"
                         "image destination-infos";
    grid-template-rows: 10rem;
}

.image-area {
    grid-area: image;
    padding: 7.4rem 0 0 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.image-area .page-title {
    margin-bottom: 10rem;
    color: #ffffff;
    font-size: 2.8rem;
    letter-spacing: 0.472rem;
}

.image-area .page-title span {
    margin-right: 2.8rem;
    color: #ffffff41;
    font-weight: bold;
}

.image-area img {
    display: none;
    width: 44.5rem;
    height: 44.5rem;
}

.image-area .moon-img {
    display: block;
}

.destination-infos-area {
    grid-area: destination-infos;
    padding-top: 17rem;
    color: #D0D6F9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.destination-infos-area nav ul{
    margin-bottom: 2rem;
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
    display: flex;
    gap: 3.5rem;
}

.destination-infos-area nav ul li {
    height: 3.5rem;
    cursor: pointer;
}

.destination-infos-area nav ul li:hover {
    border-bottom: 0.3rem solid #ffffff50;
}

.destination-infos-area nav ul li.active-button {
    border-bottom: 0.3rem solid #ffffff;
    color: #ffffff;
}

.destination-infos-area .destination-infos-container {
    width: 45rem;
    margin-bottom: 13rem;
    display: none;
}

.destination-infos-area .destination-infos-container.moon-infos {
    display: block;
}

.destination-infos-area .destination-infos-container .destination-title {
    font-family: 'Bellefair', serif;
    font-size: 10rem;
    color: #ffffff;
}

.destination-infos-area .destination-infos-container .destination-text {
    margin-bottom: 5.5rem;
    font-family: 'Barlow', sans-serif;
    text-align: justify;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #D0D6F9;
}

.destination-infos-area .destination-infos-container footer {
    padding-top: 2rem ;
    border-top: 0.1rem solid #383B4B;
    font-size: 2.8rem;
    display: flex;
    gap: 8rem;
}

.destination-infos-area .destination-infos-container footer p {
    color: #ffffff;
}

.destination-infos-area .destination-infos-container footer p span {
    color: #D0D6F9;
    font-size: 1.4rem;
    letter-spacing: 0.23rem;
}

@media screen and (max-width: 800px) {
    main {
        padding-top: 0;
        display: flex;
        flex-direction: column;
    }

    header {
        margin-bottom: 0;
    }

    .image-area {
        padding: 4rem 0 0 0;
    }

    .image-area .page-title {
        margin: 0 0 6rem 5.5rem;
        font-size: 2rem;
        letter-spacing: 0.338rem;
    }

    .image-area .page-title span {
        margin-right: 1.6rem;
    }

    .image-area img {
        width: 30rem;
        height: 30rem;
        align-self: center;
    }

    .destination-infos-area {
        padding-top: 5.3rem;
        align-self: center;
        text-align: center;
    }

    .destination-infos-area nav ul{
        justify-content: center;
    }

    .destination-infos-area .destination-infos-container {
        width: 57rem;
        margin-bottom: 13rem;
    }

    .destination-infos-area .destination-infos-container .destination-title {
        font-size: 8rem;
    }

    .destination-infos-area .destination-infos-container .destination-text {
        text-align: center;
        font-size: 1.6rem;
        line-height: 2.8rem;
    }

    .destination-infos-area .destination-infos-container footer {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    header {
        margin-bottom: 2.4rem;
    }

    .image-area {
        padding: 0;
    }

    .image-area .page-title {
        margin: 0 0 3.2rem 0;
        text-align: center;
        font-size: 1.6rem;
        letter-spacing: 0.27rem;
    }

    .image-area img {
        width: 17rem;
        height: 17rem;
    }

    .destination-infos-area {
        padding-top: 2.6rem;
    }

    .destination-infos-area .destination-infos-container {
        width: 32rem;
        margin-bottom: 5.8rem;
    }

    .destination-infos-area .destination-infos-container .destination-title {
        font-size: 5.6rem;
    }

    .destination-infos-area .destination-infos-container .destination-text {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-bottom: 3.2rem;
    }

    .destination-infos-area .destination-infos-container footer {
        flex-direction: column;
        gap: 3.2rem;
    }
}