body {
    background: url(../images/home/background-home-desktop.jpg) no-repeat;
    background-size: cover;
}

main {
    height: 100vh;
    max-height: 110rem;
    max-width: 200rem;
    padding-top: 4rem;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "menu menu"
                         "text button";
}

.main-text-area {
    grid-area: text;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-text-area .main-text-container {
    width: 45rem;
    margin-bottom: 13rem;
}

.main-text-area .main-text-container .main-text-prelude {
    font-size: 2.8rem;
    letter-spacing: 0.475rem;
    color: #D0D6F9;
}

.main-text-area .main-text-container .main-text-tittle {
    margin: 0.25rem 0;
    font-family: 'Bellefair', serif;
    font-size: 15rem;
    color: #ffffff;
}

.main-text-area .main-text-container .main-text {
    font-family: 'Barlow', sans-serif;
    text-align: justify;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #D0D6F9;
}

.button-area {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.button-area button {
    width: 27.4rem;
    height: 27.4rem;
    margin-bottom: 13rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Bellefair', serif;
    font-size: 3.2rem;
    letter-spacing: 0.2rem;
    transition: box-shadow 0.5s ease-in;
}

.button-area button:hover {
    box-shadow: 0 0 0 8.8rem #9797973b;
}

@media screen and (max-width: 800px) {
    body {
        background: url(../images/home/background-home-tablet.jpg);
    }

    main {
        padding-top: 0;
        display: flex;
        flex-direction: column;
    }

    header {
        height: 10rem;
        margin-bottom: 10.6rem;
    }

    header nav {
        justify-content: center;
        height: 100%;
    }

    header nav .header-design-line {
        display: none;
    }

    header nav ul {
        margin-left: 0;
    }

    header nav ul li a {
        font-size: 1.4rem;
        letter-spacing: 0.236rem;
    }
    
    header nav ul li a span {
        display: none;
    }

    .main-text-area {
        height: 33.4rem;
        margin-bottom: 15.6rem;
    }

    .main-text-area .main-text-container {
        margin-bottom: 0;
    }

    .main-text-area .main-text-container .main-text-prelude {
        text-align: center;
        font-size: 2rem;
        letter-spacing: 0.338rem;
        color: #D0D6F9;
    }

    .main-text-area .main-text-container .main-text {
        text-align: center;
        font-size: 1.6rem;
        line-height: 2.8rem;
    }

    .button-area button {
        width: 24.2rem;
        height: 24.2rem;
        margin-bottom: 0;
    }
}