header {
    grid-area: menu;
    height: 10rem;
    padding-left: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 4.8rem;
    height: 4.8rem;
}

header .menu-navigation {
    position: relative;
    width: 60%;
    height: 100%;
    background-color: #ffffff41;
    display: flex;
}

header .menu-navigation .header-design-line {
    position: absolute;
    left: -55%;
    width: 60%;
    height: 50%;
    border-bottom: 0.1rem solid #979797;
}

header .menu-navigation ul {
    margin-left: 15%;
    display: flex;
    align-items: flex-end;
    gap: 4.8rem;
}

header .menu-navigation ul li {
    height: 60%;
}

header .menu-navigation ul li:hover {
    border-bottom: 0.3rem solid #ffffff50;
}

header .menu-navigation ul li.active-page {
    border-bottom: 0.3rem solid #ffffff;
}

header .menu-navigation ul li a {
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
}

header .menu-navigation ul li a span {
    margin-right: 0.5rem;
    font-weight: bold;
}

header .menu-burger-img {
    display: none;
}

header .menu-burger-navigation {
    display: none;
    width: 0;
    overflow: hidden;
    transition: width 0.4s;
}

@media screen and (max-width: 1150px) {
    header .menu-navigation {
        width: 65%;
    }

    header .menu-navigation .header-design-line {
        left: -45%;
        width: 50%;
    }
    
    header .menu-navigation ul {
        margin-left: 10%;
    }

    header .menu-navigation ul li a {
        font-size: 1.4rem;
        letter-spacing: 0.236rem;
    }
}

@media screen and (max-width: 800px) {
    header {
        min-height: 10rem;
        margin-bottom: 10.6rem;
        padding-left: 4rem;
    }

    header .menu-navigation {
        width: 70%;
        justify-content: center;
    }

    header .menu-navigation .header-design-line {
        display: none;
    }

    header .menu-navigation ul {
        margin-left: 0;
    }

    header .menu-navigation ul li a {
        font-size: 1.4rem;
        letter-spacing: 0.236rem;
    }
    
    header .menu-navigation ul li a span {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    header {
        padding: 0 2.4rem;
        margin-bottom: 0;
        position: relative;
    }

    header .logo {
        width: 4rem;
        height: 4rem;
    }

    header .menu-navigation {
        display: none;
    }

    header .menu-burger-img {
        display: block;
        z-index: 1;
        transition: 0.7s;
        cursor: pointer;
    }

    header .menu-burger-img:hover {
        box-shadow: 0 0 1.5rem 0 hsl(0, 1%, 39%);
    }

    header .menu-burger-navigation {
        padding-top: 11.8rem;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        background:  #ffffff / 0.05;
        backdrop-filter: blur(3rem);
    }

    header .menu-burger-navigation ul {
        padding-left: 3.2rem;
        font-size: 1.6rem;
        letter-spacing: 0.27rem;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
    }

    header .menu-burger-navigation ul li {
        padding-bottom: 1rem;
        width: 80%;
    }

    header .menu-burger-navigation ul li:hover {
        border-bottom: 0.2rem solid #ffffff50;
    }
    
    header .menu-burger-navigation ul li.active-page {
        border-bottom: 0.3rem solid #ffffff;
    }
    
    header .menu-burger-navigation ul li a span {
        margin-right: 0.5rem;
        font-weight: bold;
    }
}