body {
    background: url(../images/technology/background-technology-desktop.jpg) no-repeat;
    background-size: cover;
}

main {
    height: 100vh;
    max-height: 100rem;
    max-width: 200rem;
    padding-top: 4rem;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "menu menu menu"
                         "title title title"
                         "navigation text image";
    grid-template-rows: 10rem;
}

main .page-prelude-title {
    grid-area: title;
    margin: 7.4rem 0 0 20rem; 
    color: #ffffff;
    font-size: 2.8rem;
    letter-spacing: 0.472rem;
}

main .page-prelude-title span {
    margin-right: 2.4rem;
    color: #ffffff41;
    font-weight: bold;
}

main .navigation-buttons {
    grid-area: navigation;
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3.2rem;
}

main .navigation-buttons div {
    color: #ffffff;
    font-family: 'Bellefair', serif;
    font-size: 3.2rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 0.1rem solid #ffffff2f;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

main .navigation-buttons div.active-button {
    background-color: #ffffff;
    color: #0B0D17;
}

main .navigation-buttons div:hover {
    border-color: #ffffff;
}

main .text-container {
    grid-area: text;
    width: 68rem;
    padding: 12rem 8rem;
    text-align: justify;
}

main .text-container .technology-prelude-text {
    margin-bottom: 1.1rem;
    color: #D0D6F9;
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
}

main .text-container ul li {
    display: none;
}

main .text-container ul li:first-child {
    display: block;
}

main .text-container ul li .technology-title {
    margin-bottom: 1.7rem;
    color: #ffffff;
    font-family: 'Bellefair', serif;
    font-size: 5.6rem;
}

main .text-container ul li .technology-text {
    color: #D0D6F9;
    font-size: 1.8rem;
    line-height: 3.2rem;
    font-family: 'Barlow', sans-serif;
}

main .img-container {
    grid-area: image;
}

main .img-container img {
    display: none;
    border-radius: 0.2rem;
}

main .img-container img:first-child {
    display: block;
}